body {
  background-image: url("/assets/image/giphy2.gif");
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.form-control{
  background-color: #0000006b;
  border-color: #4f225c75;
  color: #fff;
}

.container{
    margin: 0 auto; /* Center the container horizontally */
    top: 50%;
    left: 50%;
   padding-top: 120px;
   padding-bottom: 100px;
}

#btn-primary1 {
  border: solid 1.5px;
  background-color: #56155a6b;
  border-color: #4f225c75;
  border-radius: 12px ;
  margin-bottom: 0px;
  width: 170px;
  margin-left: 65px;
  float:center;
}
#btn-primary1:hover {
  background-color: #915fca;
  border-color: #fff;
}
/*/////////////////////////////////////////*/

.push-right {
    margin-left: 90%;
}

.message {
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}

.person {
  background-color: #306ea362;
  color: #fff;
  margin-left: 100px;
  text-align: right;
  border-radius: 12px 12px 0px 12px;
}

.bot {    
  background-color: #e5e4e9;
  color: #363636;
  margin-right: 100px;
  border-radius: 10px 10px 10px 0px;
}

.frame-box{
    /*border: dotted 2px orange; padding: 20px;*/
    border: solid 3.5px;
    background-color: #00000030;
    border-color: #4f225c75;
    border-radius: 12px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}
.frame-box::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.frame-box::-webkit-scrollbar-track {
  background: rgba(216, 172, 230, 0);        /* color of the tracking area */
}

.frame-box::-webkit-scrollbar-thumb {
  background-color: rgba(250, 250, 250, 0.281);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
}


.padding{
    padding: 5px;
}

#btn-primary0 {
  border: solid 1.5px;
  background-color: #56155a6b;
  border-color: #4f225c75;
  border-radius: 12px ;
  margin-top: 10px;
  width: 200px;
  margin-left: 200px;
  float: left;
}
#btn-primary0:hover {
  background-color: #915fca;
  border-color: #fff;
}

#btn-primary2 {
  background-color: #10233989;
  border-color: #27225c65;
  border-radius: 12px ;
  margin-top: 10px;
  width: 200px;
  margin-left: 38px;
  float: left;
}

#btn-primary2:hover {
  background-color: #5f78ca;
  border-color: #fff;
}

/*************************************/
.choice {
    margin-top:0px;
}
.start-button{
    margin-top: 30px;
}
.btn-outline-danger{
    
    padding: 10px;
    border: solid 1.5px;
    background-color: #00000030;
    border-color: #4f225c75;
    color: #fff;
}

input:checked + label {
    color: #fff;
    background-color: #5f78ca;
    border-color: #915fca;
  }

.btn-outline-danger:hover{
    border-color: #2a4b8191;
    color: #5f78ca;
}

 @media only screen and (max-width: 768px) {
  #btn-primary1 {
    margin-top: 5px;
    margin-bottom: 50px;
    width: 170px;
    margin-left: 100px;
    float:center;
  }
  #btn-primary2{
    margin-left: 100px;
    float: center;
    width: 170px;
  }
  #btn-primary0{
    margin-left: 100px;
    float: center;
    width: 170px;
  }
}