@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Monoton&family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

section{
    background-image: url("/assets/image/67235.jpg");
    max-width: 100%;
    height: auto;
    /*background-size: contain;*/
    background-size: 100% 120%;
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;
  }

.container{
    left: 16%;
    bottom: 12%;
    position: absolute;
    color: #fff;
}

/******************************/

.top-buffer{
  margin-bottom: 20px;
}
.top-buffer h1{
  font-size: 55px;
  color: #5f84ca;
  font-family: 'Monoton', cursive;
}
.top-buffer h2{
  font-size: 42px;
}

.lot {
  font-family: 'Montserrat', sans-serif;
}