<header>
    <!--Section: Design Block-->
<section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100" >
      <div class="mask" style="background-color: rgba(214, 214, 214, 0.15);"></div>
    </div>
    <!-- Intro -->
  <!--Section: Design Block-->
<div class="container">
    <div class="row" >
      <div class="col top-buffer">
        <h1 style="padding-top: 300px;">QA GENERATOR</h1>
        <br>
        <h2 style="padding-left: 8px ; font-size: 37px; color: #b680f3; font-family: 'Montserrat', sans-serif;"><b>INTRODUCTION:</b></h2>
        <br>
        <p class="lot" style="font-size: 18px; padding-left: 10px; line-height: 35px; ">Recent researches in NLP led to the release of multiple massive-sized pre-trained text generation models like GPT-1,2,3, GPT-Neo, J and T5. If the audiences (including you and me) were not impressed with their tunable parameter’s size going into billions, we were enthralled by the ease with which they can be used for a completely new unseen task, and without training for a single epoch! While this is okay for quick experiments, for any real production deployment, it is still recommended to further train the models for the specific task. This is called fine-tuning.</p>
      </div>
      <div class="col">
        <img src="/assets/image/Untitled-1.gif" class="img-fluid" width="500" >
      </div>
    </div>
</div>
</section>
</header>
