/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .solution{
    padding-top: 80px;
  }
  /* Header styles */
  header {
    position: relative;
    z-index: 1;
    
  }
  
  .design-block {
    position: relative;
    max-width: 100%;
    height: auto;
    background-image: url("/assets/image/giphy2.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #intro {
    position: relative;
    height: 80vh;
  }
  
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  /* Top section styles */
  .top-buffer {
    margin-bottom: 20px;
  }
  
  .top-buffer h1 {
    font-size: 4rem;
    color: #915fca;
  }
  
  .top-buffer h2 {
    font-size: 2.625rem;
  }
  
  #btn-primary0 {
    background-color: #915fca46;
    border-color: #ffffff34;
    border-radius: 18px ;
    
    padding: 7px 35px;
    
}
  #btn-primary0:hover {
    background-color: #915fca;
    border-color: #fff;
}
  #btn-primary1 {
    background-color: #5f8aca46;
    border-color: #ffffff34;
    border-radius: 18px ;
    padding: 7px 40px;
    
}
  #btn-primary1:hover {
    background-color: #5f84ca;
    border-color: #fff;
}
  /* Middle section styles */
  .top-buffer-inter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .top-buffer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  
  .top-buffer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .left,
  .right {
    width: 130px;
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }


    @media only screen and (max-width: 768px) {
    .container {
    position: static;
    margin: -30% 50%;
    }
    
    .left {
    max-width: 100%;
    }
    
    .right {
    max-width: 100%;
    }
    
    .top-buffer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .top-buffer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

      .top-buffer h1{
        font-size: 2rem;
      }
      .top-buffer h2{
        font-size:1.68rem;
      }

      #btn-primary0{
        padding: 5px
         15px;
      }
      #btn-primary1{
        padding: 5px 15px;
      }
    }
    


   hr {
    border: 2px solid #000;
    width: 85%;
    border-radius: 40%;
    margin: 0 auto;
   }

   .container3{
    background-color: #cccccc;
    padding: 50px 50px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
   }

   .container4{
   
    background-color: #cccccc;
    padding : 50px 50px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
   }

   .container5{
    background-color: #cccccc;
    padding: 50px 50px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
   }
   .container6{
    background-color: #dddddd;
    padding: 50px 50px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
   }
   .seemore{
    color: #000;
   }
   .seemore:hover{
    color:#915fca;
   }
/*****************************/

.abouteval01 {
  padding: 9px 46px;
  margin: -42px 10px;
}

.abouteval02 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 150px 0;
}

.squadimg img{
  max-width: 100%;
  display: block;
  margin: -120px -10px;
  
}

.supcomimg img{
    max-width: 70%;
  display: block;
  margin: -80px 100px; 
}

@media (max-width: 767px) {
  .col {
    flex-basis: 100%;
  }

  .container3{
    padding: 174px 50px;
  }

  .abouteval01{
    padding: 7px 50px;
    margin: -146px 0px
  }

  .abouteval02 img {
    padding: 12px;
    margin: 121px -2px
  }
  .squadimg img{
    padding: 20px;
    margin: -446px 1px
  }
  .supcomimg img{
    display: none;
  }
}