
<body>
  <section class="design-block">
    <div id="intro" class="bg-image vh-100">
      <div class="mask"></div>
    </div>
    <div class="container text-center">
      <div class="row top-buffer">
        <div class="col" id="top">
          <h1>CHECK OUT YOUR LEVEL OF UNDERSTANDING</h1>
          <h2>with our QA generator and test your knowledge</h2>
        </div>
      </div>
      <div class="row top-buffer-inter">
        <div class="col">
          <img class="left" src="assets/image/010.png" alt="left image">
        </div>
        <div class="col">
          <img class="right" src="assets/image/020.png" alt="right image">
        </div>
      </div>
      <div class="row top-buffer1">
        <div class="col p-2">
          <p>if you have a paragraph and you want to test your knowledge in that specific text you can just put it in our platforme and we will take care of the rest from there.</p>
        </div>
        <div class="col p-2">
          <p>If you want to just chose a topic and test your knowledge in that specific topic you can click here and  chose from the diffrenet topics that we provide.</p>
        </div>
      </div>
      <div class="row top-buffer2">
        <div class="col">
          <button type="button" id="btn-primary0" class="btn btn-primary btn-lg" (click)="goToFirstChat()">ENTER YOUR TEXT</button>
        </div>
        <div class="col">
          <button type="button" id="btn-primary1" class="btn btn-primary btn-lg" (click)="goToSecondChat()">CHOOSE A TOPIC</button>
        </div>
      </div>
    </div>
  </section>
</body>
